body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('pic/MarvelBackground.JPG');
  background-size: 100%;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(192, 95, 78);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title, .addDancerButton, .lineUpButton, .breakLineButton, .interactButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: rgba(222, 171, 136, 0.446);
}
.title{
  background-color: rgba(222, 171, 136, 0.446);
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  border:30px solid;
  border-color: rgb(196, 57, 175);
  border-radius:10px;
  position:absolute;
}

.hulkDancer{
  position:absolute;
  content:url('pic/hulk.png');
  width: 80px;
  height: 80px;
}

.ironmanDancer{
  position:absolute;
}

.thorDancer{
  position:absolute;
}
